@import './variables';
@import './blocks/stars';
@import './blocks/card';

html {
  color: $color-text-secondary;
  font-family: $font-family-base;
  font-size: 10px;
  line-height: 14px;
}

body {
  margin: 0;
}
